.bg-gradient-danger {
  background: linear-gradient(to right, #ffbf96, #fe7096);
}

.bg-gradient-info {
  background: linear-gradient(to right, #90caf9, #047edf 99%);
}

.bg-gradient-success {
  background: linear-gradient(to right, #84d9d2, #07cdae);
}

.bg-gradient-hot-1 {
  background: linear-gradient(to right, #f3eab8, #f2de6b);
}

.bg-gradient-hot {
  background: linear-gradient(to right, #f2de6b, #ebcb15);
}

.bg-gradient-hot-2 {
  background: linear-gradient(to right, #dcbc09, #d1b307);
}

