<section class="py-6 px-16">
  <h1 class="font-bold text-xl mb-5">Data sensor</h1>
  <app-sort-table [colTitle]="listOfColumn" [loaded]="isLoaded" [data]="data" [total]="totalCount" [pageSize]="10"
    [pageIndex]="1">
    <ng-template #rows let-row let-index="index">
      <td>{{row.id}}</td>
      <td>{{row.temperature}}</td>
      <td>{{row.humidity}}</td>
      <td>{{row.light}}</td>
      <td>{{row.createdDate | date : 'dd/MM/yyyy hh:mm:ss a'}}</td>
      <td>{{row.lastModifiedDate | date : 'dd/MM/yyyy hh:mm:ss a'}}</td>
    </ng-template>
  </app-sort-table>
</section>
